<h2>PELÍCULAS DE ESTRENO</h2>
  <div class="container">
    <div class="movie">
      <img src="https://i.pinimg.com/564x/3d/ba/44/3dba44a97ee27569a85602cd7f5c9624.jpg" alt="Anastasia">
      <p class="title">Anastasia</p>
      <p class="year">1984</p>
    </div>
    <div class="movie">
        <img src="https://image.tmdb.org/t/p/w500//q1DDwFuWeQlwR0lcjFiEsM8iRkd.jpg" alt="Arthur">
        <p class="title">Arthur</p>
        <p class="year">2024</p>
      </div>
      <div class="movie">
        <img src="https://image.tmdb.org/t/p/w500//syFEBhLY5rV9QlShUSphD134Rgx.jpg" alt="Spitfire Over Berlin">
        <p class="title">Spitfire Over Berlin</p>
        <p class="year">2022</p>
      </div>
      <div class="movie">
        <img src="https://image.tmdb.org/t/p/w500//zS8BSQdbOesql0EWbs17kPvLoAT.jpg" alt="Kung Fu Panda 4">
        <p class="title">Kung Fu Panda 4</p>
        <p class="year">2024</p>
      </div>
      <div class="movie">
        <img src="https://image.tmdb.org/t/p/w500//6QR2FOCQr41gSduN70WulRIhJb7.jpg" alt="Garfield: Fuera de Casa">
        <p class="title"> Garfield: Fuera de Casa</p>
        <p class="year">2024</p>
      </div>
      <div class="movie">
        <img src=" https://image.tmdb.org/t/p/w500//blq050GHBt0Fzx1j9FvohaEuknJ.jpg " alt="Madame Web">
        <p class="title">Madame Web</p>
        <p class="year">2021</p>
      </div>
      <div class="movie">
        <img src="https://image.tmdb.org/t/p/w500//diEeiB2DmZZadHISkg24RO2n0rT.jpg" alt="patos">
        <p class="title">¡Patos!</p>
        <p class="year">2021</p>
      </div>
      <div class="movie">
        <img src="https://i.pinimg.com/564x/bf/6c/ad/bf6cad1e8fcc83cbe4544a84f39ee458.jpg " alt="El Rey León">
        <p class="title">El Rey León</p>
        <p class="year">1994</p>
      </div>
      <div class="movie">
        <img src="https://i.pinimg.com/564x/65/ae/3b/65ae3b95180a7a0eec7ffcdd6a394b52.jpg " alt="La Bella Durmiente">
        <p class="title">La Bella Durmiente</p>
        <p class="year">1959</p>
      </div>
      <div class="movie">
        <img src="https://image.tmdb.org/t/p/w500//r8L3fUvftNeqPMCITdXJfiXbFBU.jpg " alt="El planeta de los simios">
        <p class="title">El planeta de los simios:Nuevo reino </p>
        <p class="year">2021</p>
      </div>
      <div class="movie">
        <img src=" https://i.pinimg.com/564x/29/38/fe/2938fe74fc2ed9967fa9239400a78771.jpg" alt="Valiente">
        <p class="title">Valiente</p>
        <p class="year">2012</p>
      </div>
      <div class="movie">
        <img src=" https://image.tmdb.org/t/p/w500//ncKCQVXgk4BcQV6XbvesgZ2zLvZ.jpg " alt="Oppenheimer">
        <p class="title">Duna: Oppenheimer</p>
        <p class="year">2021</p>
      </div>
      <div class="movie">
        <img src=" https://image.tmdb.org/t/p/w500//fy7cDkhCAER6a1i3SAiVvyLx5oO.jpg " alt="Dragones del aire">
        <p class="title">Dragones del aire</p>
        <p class="year">2021</p>
      </div>

      <div class="movie">
        <img src="    https://image.tmdb.org/t/p/w500//9rk0NJXs1izgJPZwbkSrkiVFWMQ.jpg  " alt="Juno">
        <p class="title">Duna: Parte dos</p>
        <p class="year">2021</p>
      </div>
      <div class="movie">
        <img src=" https://i.pinimg.com/564x/81/db/c4/81dbc4d4878192dd9fbefdc0e5229891.jpg " alt="Peter Pan">
        <p class="title">Peter Pan</p>
        <p class="year">2021</p>
      </div>
      
      <div class="movie">
        <img src="https://i.pinimg.com/564x/59/75/d2/5975d2bfa95d33cce657adc67bd1a970.jpg" alt="La Bella y la Bestia">
        <p class="title">La Bella y la Bestia</p>
        <p class="year">2017</p>
      </div>
      <div class="movie">
        <img src="https://www.mubis.es/media/articles/14501/159565/nuevos-posters-de-la-pelicula-vaiana-de-disney-original.jpg" alt="Mohana">
        <p class="title">Mohana</p>
        <p class="year">2021</p>
      </div>



      <div class="movie">
        <img src="https://i.pinimg.com/564x/02/21/98/022198de5dbb2f6b04db650e58d8ee4b.jpg" alt="Mulan">
        <p class="title">Mulan</p>
        <p class="year">1998</p>
      </div>
      <div class="movie">
        <img src="https://www.mubis.es/media/articles/14501/159565/nuevos-posters-de-la-pelicula-vaiana-de-disney-original.jpg" alt="Mohana">
        <p class="title">Mohana</p>
        <p class="year">2021</p>
      </div>
      <div class="movie">
        <img src="https://i.pinimg.com/564x/2e/e8/b5/2ee8b5239d203f84dc96d6424033cb99.jpg" alt="Coco">
        <p class="title">Coco</p>
        <p class="year">2019</p>
      </div>

  </div>