


<div class="movie">
    <img src="https://i.pinimg.com/564x/02/21/98/022198de5dbb2f6b04db650e58d8ee4b.jpg" alt="Mulan">
    <p class="title">Mulan</p>
    <p class="year">1998</p>
  </div>
  <div class="movie">
    <img src="https://www.mubis.es/media/articles/14501/159565/nuevos-posters-de-la-pelicula-vaiana-de-disney-original.jpg" alt="Mohana">
    <p class="title">Mohana</p>
    <p class="year">2021</p>
  </div>
  <div class="movie">
    <img src="https://i.pinimg.com/564x/2e/e8/b5/2ee8b5239d203f84dc96d6424033cb99.jpg" alt="Coco">
    <p class="title">Coco</p>
    <p class="year">2019</p>
  </div>
  <div class="movie">
    <img src="https://www.mubis.es/media/articles/14501/159565/nuevos-posters-de-la-pelicula-vaiana-de-disney-original.jpg" alt="Mohana">
    <p class="title">Mohana</p>
    <p class="year">2021</p>
  </div>
