* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

.contenido-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #030303;
    color: rgb(172, 28, 28);
}

.contenido-header h1 {
    font-size: 30px;
}

#nav ul {
    display: flex;
    list-style-type: none;
}

#nav ul li {
    position: relative;
    margin-right: 25px;
}

#nav ul li a {
    text-decoration: none;
    color: white;
}

#nav ul ul {
    display: none;
    position: absolute;
    background-color: #bb1313;
    padding: 20px;
    top: 100%;
    left: 0;
}

#nav ul ul li {
    margin-top: 10px;
}

#nav ul li:hover ul {
    display: block;
}

