<div class="contenido-header">
    <h1>Torrez RM</h1>
    <nav id="nav" class="">
        <ul id="links">
            <li><a href="#" class="seleccionado" onclick="seleccionar(this)">Inicio</a></li>
            <li><a href="#" onclick="seleccionar(this)"> Peliculas</a>
                <ul>
                    <li><a href="">ultimas publicadas</a></li>
                    <li><a href="">estrenos</a></li>
                    <li><a href="">Tendencia de  semana</a></li>
                    <li><a href="">Tendencia del dia</a> </li>
                </ul>
            </li>
            <li><a href="#" onclick="seleccionar(this)">Genero</a>
                <ul>
                    <li><a href="">Accion </a></li>
                    <li><a href="">Romance</a></li>
                    <li><a href="">Terror</a></li>
                    <li><a href="">Suspenso</a></li>
                </ul>
            </li>
            <li><a href="#" onclick="seleccionar(this)" >Series </a>
            <ul>
                <li><a href="#"  routerLink="/Serie">Series</a></li>
                
            </ul>

            </li>
        </ul>
    </nav>

    <!-- Icono del menu responsive -->
    <div id="icono-nav" onclick="responsiveMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
